*{
    font-family: 'Roboto', sans-serif;
}
header {
    border-bottom: 1px solid rgb(177, 177, 177);
}
header a{
    text-decoration: none;
    color: #696568;
}

header .logo_section a{
    font-size: 20px;
}

.menu_icon{
    margin: 0px 20px;
    vertical-align: middle;
}
.my_nav {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.my_nav li{
 display: inline-block;
 line-height: 36px;
 margin-right:26px;
}
.my_nav li:last-child{
    color: #3367D6;
    border-bottom: 3px solid #3367D6;

}
.my_container{
    padding: 40px 0px;
    margin: auto;
    width: 1000px;
}
.my_container ul{
    list-style: none;
    padding-left: 0;
}
.my_container ul h4{
    color: #3C4043;
}
.my_container ul p a{
    text-decoration: none;
}